@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */
.logo {
  margin: auto;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.2);
  }
}
@keyframes rori {
  0% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
img.logo:hover {
  animation-name: rotate;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
img.logo {
  animation-name: rori;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  vertical-align: middle;
}
tr td div {
  box-sizing: border-box !important;
  overflow: hidden !important;
  transition: max-height 0.3s, padding 0.3s !important;
}
tr.active td div {
  max-height: 100% !important;
  padding: 1rem 1rem !important;
  transition: max-height 0.6s, padding 0.6s !important;
}
@layer components {
  .btn-action-main {
    @apply flex text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800;
  }
  .btn-action {
    @apply border focus:outline-none focus:ring-4 font-medium rounded-lg text-sm px-2.5 py-1 mr-1 mb-1 bg-gray-800 text-white border-gray-600 hover:bg-gray-700 hover:border-gray-600 focus:ring-gray-700;
  }
  .btn-delete {
    @apply focus:outline-none text-white focus:ring-4 font-medium rounded-lg text-sm px-2.5 py-1 mr-1 mb-1 bg-red-600 hover:bg-red-700 focus:ring-red-900;
  }
  .btn-update {
    @apply text-white focus:ring-4 font-medium rounded-lg text-sm px-2.5 py-1 mr-1 mb-1 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800;
  }
  .btn-action > svg > path,
  .btn-delete > svg > path,
  .btn-update > svg > path {
    fill: #fff;
  }
  .btn-action > svg,
  .btn-delete > svg,
  .btn-update > svg {
    display: inherit;
  }
  .tab-active {
    @apply inline-flex p-4 border-b-2 rounded-t-lg text-blue-200 border-blue-500;
  }
  .tab-inactive {
    @apply inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-300 hover:border-gray-300;
  }
  .tab-icon-active {
    @apply w-5 h-5 mr-2 text-blue-200;
  }
  .tab-icon-inactive {
    @apply w-5 h-5 mr-2 text-gray-500 group-hover:text-gray-300;
  }
  .txt-search {
    @apply border text-sm rounded-lg block w-full h-10 pl-10 p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500;
  }
  .sel-default {
    @apply flex border text-sm rounded-lg p-2.5 h-10 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500;
  }
  .tbl-default {
    @apply mx-auto w-full table-auto text-sm text-left text-gray-400;
  }
}
/* Custom */
