@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */
.logo {
  margin: auto;
  max-width: 128px;
}
@keyframes rotate {
  0% { transform: rotate(0deg) scale(1.0); }
  100% { transform: rotate(360deg) scale(1.5); }
}
@keyframes rori {
  0% { transform: rotate(360deg) scale(1.5); }
  100% { transform: rotate(0deg) scale(1.0); }
}
img.logo:hover {
  animation-name: rotate;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
img.logo {
  animation-name: rori;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  vertical-align: middle;
}
@layer components {
  .btn-env-action {
    @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-2.5 py-1 mr-1 mb-1 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
  }
  .btn-env-delete {
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2.5 py-1 mr-1 mb-1 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
  }
}
/* Custom */
