[Unit]
Description=NViro
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=nicol
WorkingDirectory=/home/nicol/src/personal/nviro
ExecStart=make serve

[Install]
WantedBy=multi-user.target
